{% extends "base.html" %}

{% set headtitle = "Categories | " ~ SITENAME %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper indigo">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header indigo lighten-5">
          <div class="main_title"> 
            <h2 class="title is-4" itemprop="name headline">
              All Categories</h2>
          </div>
        </section>

        <article class="blog-body"
                 itemprop="articleBody">
          <ul>
          {% for category, articles in categories | sort %}
            <li>
              <span class="fa fa-folder"></span>&nbsp;
              <a href="{{ SITEURL }}/{{ category.url }}"
                >{{ category }}</a> ({{ articles | count }})</li>
            </li>
          {% endfor %}
          </ul>
        </article>

      </div>
    </section>

  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper orange">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header orange lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-folder is-pulled-right"></span>
        </div>

        <div class="widget-body">
          This is an all categories kind layout.
        </div>

      </div>
    </section>

  </aside>
{% endblock %}
