{% extends "base.html" %}

{% set headtitle = "Tags | " ~ SITENAME %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper light-blue">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header light-blue lighten-5">
          <div class="main_title"> 
            <h2 class="title is-4" itemprop="name headline">
              All Tags</h2>
          </div>
        </section>

        <article class="blog-body"
                 itemprop="articleBody">
          <ul>
          {% for tag, articles in tags | sort %}
            <li>
              <span class="fa fa-tag"></span>&nbsp;
              <a href="{{ SITEURL }}/{{ tag.url }}"
                >{{ tag }}</a> ({{ articles | count }})
            </li>
          {% endfor %}
          </ul>
        </article>

      </div>
    </section>

  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper lime">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header lime lighten-4">
          <strong>Side Menu</strong>
          <span class="fa fa-tag is-pulled-right"></span>
        </div>

        <div class="widget-body">
          This is an all tags kind layout.
        </div>

      </div>
    </section>

  </aside>
{% endblock %}
