alabaster==0.7.11
asn1crypto==0.24.0
Babel==2.6.0
blinker==1.4
Brlapi==0.6.3
cairocffi==0.8.0
certifi==2019.6.16
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
cupshelpers==1.0
Cython==0.29.4
docutils==0.14
extras==1.0.0
feedgenerator==1.9
fixtures==3.0.0
gdbus-codegen==2.60.7
gemato==14.3
gentoolkit==0.4.6
Glances==3.1.0
idna==2.8
imagesize==1.1.0
iotop==0.6
ipaddress==1.0.22
java-config==2.2.0
Jinja2==2.11.3
layman==2.4.2
linecache2==1.0.0
louis==3.10.0
lxml==4.3.3
M2Crypto==0.31.0
Mako==1.0.7
Markdown==3.1.1
MarkupSafe==1.1.1
meson==0.51.2
mimeparse==1.6.0
mirrorselect==2.2.4.post1
ndg-httpsclient==0.4.0
notify2==0.3
numpy==1.14.5
olefile==0.46
packaging==19.2
pbr==4.2.0
pelican==4.2.0
Pillow==6.2.1
pip-review==1.0
ply==3.11
portage==2.3.79
psutil==5.6.7
pyasn1==0.4.2
pyblake2==1.1.2
pycairo==1.17.0
pycparser==2.19
pycryptodome==3.6.6
pycups==1.9.73
Pygments==2.4.2
PyGObject==3.32.1
pyOpenSSL==19.0.0
pyparsing==2.3.1
PyQt5==5.12.2
PyQt5-sip==4.19.19
pyrsistent==0.15.6
PySocks==1.6.8
python-dateutil==2.7.5
python-distutils-extra==2.39
python-mimeparse==1.6.0
python-subunit==1.2.0
pytz==2018.9
pyxattr==0.6.0
pyxdg==0.26
ranger-fm==1.9.2
requests==2.21.0
scour==0.37
setproctitle==1.1.10
sip==4.19.19
six==1.12.0
smartypants==2.0.1
snowballstemmer==1.2.1
sphinx-rtd-theme==0.2.4
SQLAlchemy==1.3.3
ssl-fetch==0.4
testtools==2.3.0
traceback2==1.4.0
trollius==2.1
typogrify==2.0.7
Unidecode==1.0.23
unittest2==1.1.0
urllib3==1.24.2
urwid==1.3.1
webapp-config==1.55
Whoosh==2.7.4
xcffib==0.5.1
youtube-dl==2019.12.25
zstandard==0.8.1
