
  <ul>
  {% for group_year in dates 
       | groupby('date.year') 
       | sort(reverse=True) %}
    <li>
      {% set year = group_year.grouper %}
      {% if CURRENTYEAR == year %}
        {% set year = "This year's posts (" ~ year ~ ")" %}
      {% endif %}
      <strong>{{ year }}</strong>

      <ul>
      {% for group_month in group_year.list 
       | groupby('date.month') 
       | sort(reverse=True) %}
        <li>
          {{ group_month.list[0].date.strftime("%B - %Y") }}
          <ul>
          {% for article in group_month.list %}
            <li>
              <span class="fa fa-calendar"></span>&nbsp;
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" 
               title="Permalink to {{ article.title|striptags }}"
                >{{ article.title }}</a>
            </li>
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
      <br/>
    </li>
  {% endfor %}
  </ul>
