  <ul>
  {% for group in dates 
       | groupby('date.month') 
       | sort(reverse=True) %}
    <li>
      {{ group.list[0].date.strftime("%B") }}
      <ul>
      {% for article in group.list %}
        <li>
          <span class="fa fa-calendar"></span>&nbsp;
          {{ article.date.day }}:&nbsp;
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" 
             title="Permalink to {{ article.title|striptags }}"
            >{{ article.title }}</a>
        </li>
      {% endfor %}
       </ul>
       <br/>
     </li>
  {% endfor %}
  </ul>
